.services {
  padding: 1rem;
  padding-top: 3.0rem;
  padding-bottom: 4rem;
  background: #272727;
  overflow-x: hidden;
}

.services-container {
  width: 70%;
  justify-self: center;
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  padding: 0.7rem;
  background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3% 10% 5% 10%;
  margin-bottom: 1rem;
}

.h1 {
  width: 40%;
  justify-self: center;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 3.5rem;
  border-top: 1.7px solid white;
  border-radius: 9px; 
  background: linear-gradient(to right, #56B4D3, #348F50,#355F2E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  box-shadow: 0px 5px 5px 0px black;
}

ul.servicios {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  font-size: larger;
}

ul.servicios li {
  margin: 15px 0; /* Espacio entre cada elemento */
  color: white; 
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 9px;
  background: #fafafa25;
  backdrop-filter: blur(0.9rem); 
  box-shadow: 0px 5px 15px #1C325B;
}

ul.servicios li::before {
  content: "✔️"; /* Icono de verificación para cada servicio */
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.circulo, .circulo2 {
  position: absolute;
  top: 20%;
  right: -1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: black;
  opacity: 0.4;
  box-shadow: 0px 0px 30px #89A8B2,
              0px 0px 40px #89A8B2,
              0px 0px 50px #89A8B2;
  animation: color 10s infinite;
}
@keyframes color {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(100deg); }
}

.circulo2 {
  top: 80%;
  left: 0;
  width: 13rem;
  height: 13rem;
}

.circulo:before, .circulo2:before {
  content: '';
  position:absolute;
  opacity: 1;
  border-radius: 50%;
  filter: blur(2rem);
  width: 11rem;
  height: 11rem;
  background: blue;
  transform: translate(-10%, -10%);
}


  .domicilio {
    text-align: center; 
    background: #FF9D23;
    border-radius: 12px;
    padding: 1rem;
    width: 70%;
    justify-self: center;
}

.mantenimiento-ejem {
  width: 50%;
  height: 50%;
  height: auto;
  justify-self: center;
  position:relative;
}

.molinoMantenimiento, .molinoDesgaste {
  width: 80%;
  height: 50vh;
  margin-top: 1rem;
  border-radius: 9px;
  object-fit: cover;
}

.molinoMantenimiento {
  position: absolute;
  left: 0;
  top: 0;

  animation: molino 6s ease infinite;
}
@keyframes molino {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .h1 {
    width: 65vw;
    font-size: 2.5rem;
  }
  
  .domicilio {
    padding: 5%;
    width: 100%;
  }

  .h3-domicilio {
    padding: 10%;
    text-align: center;
    background: #FF9D23;
    border-radius:10% / 50% ;
  }

  .services-container {
    width: 100%;
    justify-self: center;
    padding: 5%;
  }

  ul.servicios {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    font-size: 1rem;
  }

  .mantenimiento-ejem {
    width: 100%;
    height: 100%;
    position:relative;
  }

}
